<% wrap_layout :default do %>

    <div class="page-header">
      <div class="crumb">
        <%=yield_content :crumb %>
      </div>
      <h1 class="title"><%= page_title %></h1>
      <div class="description">
        <%= page_description  %>
      </div>
    </div>

    <div class="pre-page-content">

      <%=yield_content :pre_page_content %>

       <%- pre_partials = current_page.data.pre_partials %>
        <%- if pre_partials.present? %>
          <section class="pre-partials">
            <%- for partial_name in pre_partials %>
              <div class="partial">
                <%= partial partial_name %>
              </div>
            <%- end %>
          </section>
        <%- end %>
    </div>

    <div class="page-content">
      <%= yield %>
    </div>


    <% if current_page.data.references %>
      <section id="references" class="references card">
        <div class="card-block">

            <h1>References</h1>
            <% current_page.data.references.each do |r| %>
              <%= render_content_resource_element(r, :class => 'reference') %>
            <% end %>

        </div>
      </section>
    <% end %>

<% end %>
