---
title: Tracking Shootings, Mass Shootings, and Mass Killings
description: |
  An overview of the different ways in counting and categorizing gun-related homicides and events of mass casualties.
listed: true
---

<%=render_toc%>



# Projects and investigations

Here's a short list of projects attempting to count either gun-related casualties and/or mass killing events in America:

<% content_listicle('mass-shootings', 'shootings-data-projects').each do |t| %>
<%= render_content_resource_row(t) %>
<% end %>



# Articles and stories

<% content_listicle('mass-shootings', 'shootings-articles').each do |t| %>
<%= render_content_resource_element(t) %>
<% end %>


# Datasets

<% listicle('mass-shootings', 'shootings-datasets').each do |t| %>
<div class="item feature" style="margin-bottom:5.5em;">
  <div class="image">
    <a href="<%=t.url %>">
      <img src="<%=t.image_url%>" alt="data" class="bordered" style="margin-bottom:1em;">
    </a>
  </div>
  <h3 class="title"><%=link_to t.title, t.url %></h3>
  <div class="description"><%=markdownify t.description %></div>

  <div class="definition">
    <h5>Definition</h5>
      <%=markdownify t.definition %>
  </div>

  <% if t.data_downloads %>
  <h5>Downloads</h5>
  <ul class="downloads list">
    <% for k in t.data_downloads %>
      <li><%=link_to k.title, k.url %></li>
    <% end %>

  </ul>
  <% end %>
</div>



<% end %>
