---
title: "Tracking police-involved homicides: A shortlist of data projects and investigations"
description: Projects, datasets, investigative journalism, and research tracking the use of deadly force by police in the United States.
listed: true
---

<%=render_toc%>

# A "battle at the frontiers of public information"

From David Simon's 2009 essay, ["In Baltimore, No One Left to Press the Police"](http://davidsimon.com/in-baltimore-no-one-left-to-press-the-police/)

>  In an American city, a police officer with the authority to take human life can now do so in the shadows, while his higher-ups can claim that this is necessary not to avoid public accountability, but to mitigate against a nonexistent wave of threats...

> At one point last week, after the department spokesman denied me the face sheet of the shooting report, I tried doing what I used to do: I went to the Southeastern District and demanded the copy on file there. When the desk officer refused to give it to me, I tried calling the chief judge of the District Court. But Sweeney’s replacement no longer handles such business. 
> 
> It’s been a while since any reporter asked, apparently. So I tried to explain the Maryland statutes to the shift commander, but so long had it been since a reporter had demanded a public document that he stared at me as if I were an emissary from some lost and utterly alien world.



## "A shot in the dark"

[From the Daily Show, Oct. 7, 2014](http://thedailyshow.cc.com/videos/v4l2pe/a-shot-in-the-dark)

<iframe src="http://media.mtvnservices.com/embed/mgid:arc:video:thedailyshow.com:85b3e9e7-f811-43d8-8352-cddcd9b2509f" width="100%" height="400" frameborder="0"></iframe>


> Synopsis: Samantha Bee attempts to uncover statistics about the excessive use of lethal force by the police, only to discover that this data is mysteriously nonexistent. [(7:09)](http://thedailyshow.cc.com/videos/v4l2pe/a-shot-in-the-dark)
> 



# Projects and investigations

Here's a short list of journalism projects and investigations into police-involved shootings, before Ferguson and after:

<% content_listicle('police', 'deadly-incidents-projects').each do |t| %>
<%= render_content_resource_row(t) %>
<% end %>





# Articles, essays, and stories

A brief selection of articles and essays about police shootings:

<% content_listicle('police', 'deadly-incidents-articles').each do |t| %>
<%= render_content_resource_element(t) %>
<% end %>


# Datasets

These are the datasets that I've been able to find so far. The list includes both the recent crowdsourced initiatives and anything else which has been organized enough to at least fit in a HTML table, though not all of these sources have direct links to downloadable data.

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Source</th>
      <th>Info page</th>
      <th>Direct download</th>
    </tr>
  </thead>
  <tbody>
    <% listicle('police', 'deadly-incidents-datasets').each do |t| %>    
      <tr>
        <td><%=t.source %></td>
        <td><%=link_to(t.landing_page_title, t.landing_page_url) if t.landing_page_url %></td>
        <td><%=link_to(t.data_file_title, t.data_file_url) if t.data_file_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>



# Documents, Memos, and Papers

Official memos and documents and academic research relating to the use of deadly force by law enforcement.


<% content_listicle('police', 'deadly-incidents-papers').each do |t| %>
<%= render_content_resource_element(t) %>
<% end %>

