---
title: Public Affairs Data Journalism
description: "Civic accountability journalism taught at the Stanford University Graduate Journalism Program"
layout: home
---

<% content_card "Today's lesson" do %>


<%= markdownify(
"""

## MIDTERM CONTINUES TO BE DELAYED

- Check the [Tutorials section to see the mess of tutorials/quasi-homework](/tutorials)

Things we discuss in class: Maps. 

- The [gun permits map](http://fall2014.padjo.org/2014-10-07/). Also, Gerald Rich's [HH talk on maps](https://public.etherpad-mozilla.org/p/hhstanford-maps).
- Looking for FOIA ideas: via [MuckRock](https://www.muckrock.com/foi/list/) and here's a [taxi example featuring me](https://github.com/ajschumacher/foilfoil). 
- Campaign finance related to today's election: in particular, [AirBnB and Prop 8](http://www.breitbart.com/big-government/2015/11/02/airbnbs-8m-political-campaign-vs-proposition-f/)
  + [SFist has a list of expenditures](http://sfist.com/2015/09/28/airbnbs_8_million_and_more_sf_campa.php)
  + [San Francisco Ethics Commission](http://nf4.netfile.com/pub2/?aid=sfo&AspxAutoDetectCookieSupport=1)


These past announcements are relevant:

__Free pizza and SQL:__ [Nov. 9, data event with Google and us (and SQL!)](https://www.eventbrite.com/e/computational-journalism-exploring-big-civic-data-tickets-19303437100) (I'm pretty much requiring you to go to this)


## SQL Warmup

This is similar to what the midterm will look like, except with less context. Look over the questions. Open the database. Tinker around. Try to answer some of these questions.

[Download the prisons database](http://stash.padjo.org/dumps/2015/state-prisons.sqlite.zip). It contains the inmate databases from the states of [Texas](http://offender.tdcj.texas.gov/OffenderSearch/index.jsp) and [Florida](http://www.dc.state.fl.us/AppCommon/).

For both states, write the queries that generate:

- Total number of inmates
- Total number of inmates, by sex and race
- The 5 oldest inmates in prison.
- The 5 youngest inmates in prison.
- The 5 inmates who were oldest at the time of the crime that they were convicted of.
- A list of the inmates who are serving time on murder convictions.
- Same as above, except for inmates who are not serving life sentences.
- Find the inmate serving the shortest sentence for a murder conviction.

Some help:

- The [landing page for the Florida data](http://www.dc.state.fl.us/pub/obis_request.html) contains information about its schema -- it's quite complicated, though I've only included 4 of the nearly 20 tables.
- Here's [a list of murderers via the Florida database.](http://www.dc.state.fl.us/ActiveInmates/list.asp?DataAction=Filter&SexOffOnly=0&dcnumber=&LastName=a&FirstName=s&SearchAliases=on&Sex=ALL&Race=ALL&OffenseCategory=MU&ClassificationStatus=ALL&CurrentCustody=ALL&IdentifierType=ALL&Identifier=&EyeColor=ALL&HairColor=ALL&FromAge=&ToAge=&FromWeight=&ToWeight=&FromHeightFeet=&FromHeightInches=&ToHeight=&ToHeightFeet=&ToHeightInches=&ZipCode=&ScarType=ALL&ScarLocation=ALL&ScarDescription=&photosonly=&nophotos=on&items=20&CommitmentCounty=ALL&subjecttype=ALL&facility=ALL&workskill=ALL)
- Here's [how the Texas Tribune uses the prison data](https://www.texastribune.org/library/data/texas-prisons/), though they work off a different version with different fields.


""")



%>

<%= render_content_resource_element "/briefs/data_notes/cde_schools/immunization-sql-readme" %>

<%= render_content_resource_element "/briefs/data_notes/medicare_providers/wsj-pulitzer-walkthrough" %>





<% end %>


# Public Affairs Data Journalism at Stanford University

<div class="card card-block">
  <div class="big">Visit the <%=link_to "Assignments page", "/assignments" %> to see the latest due dates.</div>
</div>

<div class="card card-block" id="course-info">

  <%= partial '/layouts/partials/pages/course-info.md.erb' %>  
</div>


Our primary goal is to learn how to argue with and against data. 

If we want to understand our government, including the power it holds over and yields to its institutions and citizens, then we must understand the data that is both the byproduct and fuel from the work of government.

<div class="note">
  <strong>Note:</strong> COMM 273D was first taught in Fall 2014. You can visit the 2014 class website at: <a href="http://fall2014.padjo.org">fall2014.padjo.org</a>
</div>


--------------



<section class="sec">
  <h1>Schedule</h1>
  <%= partial "/layouts/partials/pages/main_schedule" %>  
</section>

<section class="sec">
  <h1>Assignments and Grading Assessments</h1>

  <p>Visit the <%=link_to "Assignments page", "/assignments" %> to see the latest due dates.</p>

  <p>
  Students will be graded on successful completion of homework assignments and a midterm test focused on SQL (<a href="http://fall2014.padjo.org/2014-10-23/#midterm-information">see last year's test</a>).
  </p>

  <p>The assignments will be <em>frequent</em>. Some of the assignments will be longer than others but none are what I would consider <em>project-length</em>. There is no final.</p>

  <h3>Grading breakdown</h3>
  <p>Standard (but flexible) curve with __A-__ starting at 90%</p>

  <p><strong>80%</strong> of the grade will be from assignments.</p>
  <p><strong>20%</strong> of the grade will be from the midterm.</p>

  <p>Any assignment more than 2 days late will receive half-credit at most.</p>
</section>


<section class="sec">
  <h1>Conduct</h1>
  <%= partial "/layouts/partials/pages/conduct" %>
</section>
